.topOrange{
  background-color: #FE912C;
  height: 75px;
  width: 100%;    
}
body {
  font-family: Arial, Helvetica, sans-serif;
background-color: #E8E4F6;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E8E4F6;
}

li {
  float: right;
}

li a {
  display: block;
  color: #261E47;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #261e4772;
}

.text2 {
  width: 60%;
}



.h1{
  font-size: 48px;
  font-family: fiora-monograms, sans-serif;
font-weight: 400;
font-style: normal;
}

.h2{
  font-size: 30px;
  font-family: fiora-monograms, sans-serif;
font-weight: 400;
font-style: normal;
}

.h3 {
  font-size: 24px;
  font-family: fiora-monograms, sans-serif;
font-weight: 400;
font-style: normal;
}

.p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputMax  {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: solid #261E47 1px;
  background: #f1f1f1;
}

.inputMax:focus {
  background-color: #ffffff67;
  outline: dashed #261E47;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.box {
  margin: 10px 5px 10px 30px;
  padding: 25px 40px;
  width: 50%;
}



.box {
border: solid #261E47 2px;
}


* {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .landingPage {
    border-radius: 25px; 
    
  }
  .left-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 10% 40% 40%;
  gap: 30px  }

  .top-grid {
    display: grid;
    grid-template-columns: 10% 40% 40%;
  gap: 30px  }
  .right-grid {
    display: grid;
    grid-template-columns: 20% 40% 40%;
  gap: 30px  }
  .text {
    width: 100%;
  
  }
.plubBar {
  margin-top: 20px;
  background-color: #792F61;
  height: 150px;
  width: 75%; 
}

.tealBar {
  margin-top: 20px;
  background-color: #00ACA4;
  height: 150px;
  width: 60%; 
  float: right;
}

footer {
  height: 100px;
  background-color: #FE912C;
  margin-top: 50px;
}

}

@media only screen and (max-width: 650px) {
  header{
    background-color: #FE912C;
    height: 100px;
    width: 100%;
  }

  .landingPage {
    width: 100%;
    border-radius: 25px; 
  }

  landingPage {
    width: 100%;
  }

  body {
    padding-left: 1px;
    padding-right: 1px;
  }

  .plubBar {
    background-color: #792F61;
    height: 200px;
    width: 100%; 
  }

}

@media only screen and (min-width: 601px, max-width: 1200px) {

}
}